*.pyc
*.so
*.egg-info
*.whl
.DS_Store
.mypy_cache/
.pytype/
docs/build
docs/_autosummary
.idea
.vscode
.envrc
/*/__pycache__/
/test/*.xml
.coverage
.pytest_cache

# virtualenv/venv directories
/venv/
/bin/
/include/
/lib/
/share/